

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('font/caviardreams-webfont.woff2') format('woff2'),
         url('font/caviardreams-webfont.woff') format('woff'),
         url('font/caviardreams-webfont.woff') format('woff'),
         url('font/caviardreams-webfont.ttf') format('truetype'),
         url('font/caviardreams-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('font/caviardreams_bold-webfont.woff2') format('woff2'),
         url('font/caviardreams_bold-webfont.woff') format('woff'),
         url('font/caviardreams_bold-webfont.woff') format('woff'),
         url('font/caviardreams_bold-webfont.ttf') format('truetype'),
         url('font/caviardreams_bold-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('font/caviardreams_bolditalic-webfont.woff2') format('woff2'),
         url('font/caviardreams_bolditalic-webfont.woff') format('woff'),
         url('font/caviardreams_bolditalic-webfont.woff') format('woff'),
         url('font/caviardreams_bolditalic-webfont.ttf') format('truetype'),
         url('font/caviardreams_bolditalic-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('font/caviardreams_italic-webfont.woff2') format('woff2'),
         url('font/caviardreams_italic-webfont.woff') format('woff'),
         url('font/caviardreams_italic-webfont.woff') format('woff'),
         url('font/caviardreams_italic-webfont.ttf') format('truetype'),
         url('font/caviardreams_italic-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lemonmilkregular';
    src: url('font/lemonmilk-webfont.woff2') format('woff2'),
         url('font/lemonmilk-webfont.woff') format('woff'),
         url('font/lemonmilk-webfont.woff') format('woff'),
         url('font/lemonmilk-webfont.ttf') format('truetype'),
         url('font/lemonmilk-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lemonmilkbold';
    src: url('font/lemonmilkbolditalic-webfont.woff2') format('woff2'),
         url('font/lemonmilkbolditalic-webfont.woff') format('woff'),
         url('font/lemonmilkbolditalic-webfont.woff') format('woff'),
         url('font/lemonmilkbolditalic-webfont.ttf') format('truetype'),
         url('font/lemonmilkbolditalic-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lemonmilkregular_italic';
    src: url('font/lemonmilkitalic-webfont.woff2') format('woff2'),
         url('font/lemonmilkitalic-webfont.woff') format('woff'),
         url('font/lemonmilkitalic-webfont.woff') format('woff'),
         url('font/lemonmilkitalic-webfont.ttf') format('truetype'),
         url('font/lemonmilkitalic-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lemonmilk_lightregular';
    src: url('font/lemonmilklight-webfont.woff2') format('woff2'),
         url('font/lemonmilklight-webfont.woff') format('woff'),
         url('font/lemonmilklight-webfont.woff') format('woff'),
         url('font/lemonmilklight-webfont.ttf') format('truetype'),
         url('font/lemonmilklight-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lemonmilklight_italic';
    src: url('font/lemonmilklightitalic-webfont.woff2') format('woff2'),
         url('font/lemonmilklightitalic-webfont.woff') format('woff'),
         url('font/lemonmilklightitalic-webfont.woff') format('woff'),
         url('font/lemonmilklightitalic-webfont.ttf') format('truetype'),
         url('font/lemonmilklightitalic-webfont.svg#edp_preonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
